.header {
  text-align: center;
}

.capital-letter {
  font-size: 6rem;
}

.lower-letter {
  font-size: 4rem;
}

.fs-2 {
  font-size: 1.2rem;
}

.projects {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: left;
  div {
    width: 100%;
  }

  ul {
    margin-top: 0;
  }
}

li {
  margin-bottom: 20pt;
}

.filler {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow: auto;
  padding-left: 25px;
  padding-right: 25px;
  align-self: center;
  width: 90%;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
  color: #ffffff;
  background-color: #1a1a1a;
}

a {
  color: #3498db;
}

a:visited {
  color: #2e75b5;
}

footer {
  text-align: center;
  padding-bottom: 20pt;
}

.name {
  color: #e74c3c;
}

.job-title {
  font-weight: bold;
  margin-bottom: 10pt !important;
  color: #ffc1bb;
}

.school {
  font-weight: bold;
}

.job {
  p {
    margin: 5pt;
  }
}

.divider {
  margin: 30 10 30 10;
}
